::ng-deep .xng-breadcrumb-item {
  text-decoration: none;
  color: #cf4747;
  & a:hover {
     text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    color: white;
  }
}
